/* utility */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
    /* region_DEBUG */
.dbg > #app_header
{
    height:200px;
	background-color: black;
}

.dbg > #app_main
{
    height:800px;
	background-color: rgb(4, 153, 207);
}

.dbg > #app_footer
{
    height:200px;
	background-color: black;
}
/* .dbg .col4{
    height: 120px;
    background-color: yellow;
} */
.dbg .card
{
    height: 120px;
    background-color: yellow;
}

.dbg .image
{
    width: 30%;
    height: 120px;
    background-color: red;
}

.dbg .data
{
    height: 120px;
    background-color: rgb(0, 42, 255);
}

    /* endregion_utility*/
/* ----------------------------------------- */
/* region_main */
.container
{
    max-width: 1140px;
    margin: auto;
}

.col4
{
    float: left;
    width: calc((100% / 12)*4);
    /* to see column setting padding*/
    /* and create dbg rule */
    padding: 1rem 1rem;/* space between FLOATel */
}

.left
{
    float:left;
}